<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kosa.hdit5.evenapp.mapper.CartMapper">

	<insert id="insertProductToCart"> 
		<![CDATA[ INSERT INTO "Cart" VALUES 
		(#{userId}, #{productId}, #{productCnt}) ]]> 
	</insert>


	<select id="insertOrUpdateCart" statementType="CALLABLE">
		{call InsertOrUpdateCart(
		#{userId, mode=IN, jdbcType=VARCHAR,javaType=java.lang.String},
		#{productId, mode=IN, jdbcType=VARCHAR, javaType=java.lang.String},
		#{productCount, mode=IN, jdbcType=NUMERIC, javaType=java.lang.Integer})}
	</select>



</mapper>  