<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kosa.hdit5.evenapp.mapper.OrderMapper">
	<select id="selectPreOrderProduct" resultType="Product">
		<foreach collection="cartList" item="items" separator="UNION ALL">
		<![CDATA[
			SELECT *
			FROM "Cart" c JOIN "Product" p
			ON c."product_id" = p."product_id"
			WHERE c."user_id" = #{items.userId} 
			  AND p."product_id" = #{items.productId}
		]]>
		</foreach>
	</select>
</mapper>  

