<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kosa.hdit5.evenapp.mapper.OrderMapper">

	<select id="selectPreOrderProduct" resultType="Cart">
		<foreach collection="cartList" item="cartItem" separator="UNION ALL">
			<![CDATA[
				SELECT c."product_id", "product_name", "user_id", "product_cnt"
				FROM "Cart" c JOIN "Product" p
				ON c."product_id" = p."product_id"
				WHERE c."user_id" = #{cartItem.userId} 
				  AND p."product_id" = #{cartItem.productId}
			]]>
		</foreach>
	</select>
	
	<insert id="insertOrder" parameterType="Order"
		useGeneratedKeys="true" keyProperty="orderId" keyColumn="order_id">
		<![CDATA[
			INSERT INTO "Order" ("date", "user_id") 
			VALUES (sysdate, #{userId})
		]]> 
	</insert>
	
</mapper>  

