<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosa.hdit5.evenapp.mapper.UserMapper">

	<select id="selectAllUser" resultType="User">
	<![CDATA[
		SELECT * FROM "User"
	]]>
	</select>
	
	<select id="getUser" parameterType="User" resultType="User">
	<![CDATA[
		SELECT * FROM "User" WHERE "user_id" = #{userId} AND "user_pw" = #{userPw}
	]]>

	</select>

	<insert id="insertUser" parameterType="User">
	<![CDATA[
         INSERT INTO "User" ("user_id", "user_pw", "user_name", "user_birth", "user_sex", "user_address") 
         VALUES (#{userId}, #{userPw}, #{userName},#{userBirth},#{userSex},#{userAddress}) 
	]]>
	</insert>

	<select id="selectOneUser" resultType="User">
	<![CDATA[
		SELECT * FROM "User" WHERE "user_id"=#{userId}
	]]>
	</select>



</mapper>  