a {
	color: black;
	text-decoration: none;
}

.productContainer {
	position: relative;
	display: flex;
	align-items: flex-start;
}

.productInfo {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

.productDetails {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.productContainer .productImg {
	width: 104px;
	height: auto;
}

.productContainer .deleteButton {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #ff0000;
	color: #ffffff;
	padding: 2px 5px;
	cursor: pointer;
}

.productContainer .productCheckbox {
	position: absolute;
	top: 0;
	left: 0;
}
.productContainer .product_cnt {
	width : 6ch;
}

.purchaseButton {
    float: right;
}