* {
	box-sizing: border-box;
}

a {
	color: black;
	text-decoration: none;
}

.productContainer {
	display: flex;
	align-items: flex-start;
}

.productInfo {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

.productDetails {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 124px;
	width: 650px;
	padding: 32px 0 12px 10px;
	float: left;
	vertical-align: top;
	padding-right: 50px;
	border-bottom: 1px solid #e7e7e7;
}

.productContainer .productImg {
	width: 100%;
	height: 124px;
}

.productContainer .deleteButton {
	padding: 2px 5px;
	cursor: pointer;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 14px;
	height: 14px;
	background: url(/evenapp/resources/img/btn.png) no-repeat -100px 0;
}

.productContainer .productCheckbox {
	
}

.productContainer .product_cnt {
	width: 6ch;
	text-align: center;
}

.purchaseButton {
	float: right;
}

.all-cart-container {
	padding-top: 50px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.top-text {
	padding-bottom: 40px;
}

.cart-container {
	display: flex;
	justify-content: space-around;
}

.left-area {
	margin-right: 20px;
}

.riget-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.info {
	display: flex;
	justify-content: space-between;
	padding-right: 0;
	width: 100%;
	min-height: 38px;
}

.ea-area {
	display: flex;
	margin-right: 24px;
	height: 32px;
	vertical-align: top;
	overflow: hidden;
}

.purchaseButton {
	padding: 0 12px;
	height: 42px;
	line-height: 40px;
	text-align: center;
	/* color: #fff; */
	font-size: 15px;
	/* background-color: #fff; */
	vertical-align: top;
}

.txt-price {
	display: none;
	margin-right: 7px;
	margin-right: 8px;
	font-weight: 200;
}

.delete-name-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.product-price-text {
	display: table-cell;
	line-height: 39px;
	color: #454545;
	font-size: 18px;
	vertical-align: top;
	word-break: break-all;
	width: 156.853px;
	height: 40.424px;
}

.orderButton {
	color: #fff;
	background-color: #ff6913;
	height: 64px;
	line-height: 62px;
	font-size: 18px;
	font-weight: 600;
}

.product-price-text-box {
	display: flex;
	justify-content: space-around;
}

.price-box {
	border: 1px #ff6913 solid;
	margin: 0;
	padding: 0;
	display: block;
	margin-inline-start: 2px;
	margin-inline-end: 2px;
	padding-block-start: 0.35em;
	padding-inline-start: 0.75em;
	padding-inline-end: 0.75em;
	padding-block-end: 0.625em;
	min-inline-size: min-content;
}

.product-price-num {
	font-size: 20px;
	font-weight: 700;
	font-family: "Roboto";
	/* 	width: 72.087px;
    height: 40.424px; */
}

.orderprice {
	margin-top: 20px;
	display: table;
	width: 100%;
	padding: 0 24px;
}

.total {
	margin-top: 0;
	border-top: 1px solid #e7e7e7;
	display: table;
	width: 100%;
	padding: 0 24px;
	line-height: 80px;
	color: #ff6913;
	font-weight: 600;
}

.total .product-price-text {
    border-top: 1px solid #e7e7e7;
    line-height: 80px;
    color: #ff6913;
    font-weight: 600;
}

label {
	color: #767572;
	position: relative;
	display: inline-block;
	padding-left: 30px;
	min-height: 22px;
	color: #454545;
	user-select: none;
	cursor: pointer;
	line-height: 22px;
	font-size: 15px;
	vertical-align: top;
}

input[id="allCheck"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

input[id="item-check-box"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

.productInfo a {
	position: relative;
}

.productInfo .productCheckbox {
	position: absolute;
	top: 0;
	left: 0;
}

.delivary-text-title {
	display: block;
	width: 100%;
	font-family: "NotoSansKR", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";
	padding: 15px 0 17px;
	width: 100%;
	color: #101010;
	font-size: 24px;
	border-top: 2px solid #767572;
}