.header-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	font-size: 13px;
}

.auth-menu-wrapper {
	display: flex;
    gap: 24px;
}

.logo-img {
	width: 232px;
}