@charset "UTF-8";

.header-nav-container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.category-popup {
	position: absolute;
	top: 100%;
}