@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "NotoSansKR";
	font-style: normal;
	font-weight: 100;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
		format('opentype');
}

@font-face {
	font-family: "NotoSansKR";
	font-style: normal;
	font-weight: 300;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
		format('opentype');
}

@font-face {
	font-family: "NotoSansKR";
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
		format('opentype');
}

@font-face {
	font-family: "NotoSansKR";
	font-style: normal;
	font-weight: 500;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
		format('opentype');
}

@font-face {
	font-family: "NotoSansKR";
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
		format('opentype');
}

@font-face {
	font-family: "NotoSansKR";
	font-style: normal;
	font-weight: 900;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
		format('opentype');
}

body, h1, h2, h3, h4, h5, h6, input, textarea, select, p, button {
	font-family: "NotoSansKR", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";
}

html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
}

a {
	display: inline-block;
}

button {
	cursor: pointer;
	border: none;
}

input {
	border: none;
}

input:focus {
	outline: none;
}

dl, ul, ol, menu, li {
	list-style: none;
}

.top-area {
	min-width: 1200px;
	border-bottom: 1px solid #e7e7e7;
	background-color: #fff;
	z-index: 20;
}

.inner {
	width: 1200px;
	margin: 0 auto;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 350px;
}

.grey3 {
	color: #767572;
}

.grey1 {
	color: #aea7a2;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 400px;
	background-color: black;
	color: white;
	padding-top: 0px !important;
	border-top-style: solid !important;
	border-top-width: 150px !important;
}

/* 상세페이지 - 상품 수량 버튼 */
.quantity-selector {
	display: flex;
	align-items: center;
}

.quantity-selector button {
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	padding: 5px;
	cursor: pointer;
}

.quantity-selector input {
	width: 50px;
	text-align: center;
	border: 1px solid #ddd;
	padding: 5px;
}

/* 메인페이지 상품 글자 ... 표시 */
a {
	color: black;
	text-decoration: none;
}

.ellipsis {
	display: block;
	width: 300px; /* 너비는 원하는 크기로 조절하세요. */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}