<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org/DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<!-- MyBatis가 동작할 때 어떻게 동작할지를 설정하는 내용이 포함되요! 상당히 많은 설정이 들어있어요. 그런데 대부분 기본값으로 
		설정된 내용을 그대로 사용. 아래부분만 일반적으로 설정해서 사용해요! -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />

		<!-- Log4J설정 Query가 실행될때만다 실행되는 SQL Query와 그 결과를 Log로 출력! -->
		<setting name="logImpl" value="LOG4J2" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<!-- 타입 별칭은 자바 타입에 대한 좀더 짧은 이름을 설정하기 위해 사용합니다. 오직 XML 설정에서만 사용되며, 타이핑을 줄이기 
		위해 사용합니다. -->
	<typeAliases>
		<typeAlias alias="User" type="kosa.hdit5.evenapp.vo.UserVO" />
		<typeAlias alias="Product" type="kosa.hdit5.evenapp.vo.ProductVO" />
		<typeAlias alias="Cart" type="kosa.hdit5.evenapp.vo.CartVO" />
		<typeAlias alias="Category" type="kosa.hdit5.evenapp.vo.CategoryVO" />
		<typeAlias alias="Section" type="kosa.hdit5.evenapp.vo.SectionVO" />
		<typeAlias alias="Order" type="kosa.hdit5.evenapp.vo.OrderVO" />
		<typeAlias alias="OrderProduct" type="kosa.hdit5.evenapp.vo.OrderProductVO" />
		<typeAlias alias="GPTResult" type="kosa.hdit5.evenapp.vo.GPTResultVO" />
		<typeAlias alias="GPTHistory" type="kosa.hdit5.evenapp.vo.GPTHistoryVO" />
	</typeAliases>


	<typeHandlers>
		<typeHandler
			handler="kosa.hdit5.evenapp.util.CartVOListTypeHandler"
			javaType="java.util.List" jdbcType="ARRAY" />
	</typeHandlers>

</configuration>	